# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment files
# =========================
.env

# =========================
# Byte-compiled / cache
# =========================
__pycache__/
*.pyc

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# ML / Data (optional)
# =========================
*.h5
*.pkl
*.model
*.weights
*.csv
*.json

# =========================
# Docker (optional if using)
# =========================
docker-compose.override.yml

venv310/